<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <title>Page 1_cravel Marketplace</title>
</head>

<body>
    <nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div style="text-align: center; padding-left: 50px;">
                <h3 style="color: white; ">CRAVEL</h3>
                <h7 style="color: white;">cravings for travel</h7>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
            </div>
        </div>
    </nav>


    <header>
        <div class="one">
            <div>
                <h2>What are you looking for?</h2>
                <h5>book experiences across india.</h5>
            </div>

            <div id="imgbox">
                <div class="row">
                    <div class="col imgs">
                        <img src="/images/download.jpeg" alt="no">
                        <h4>Activities</h4>
                    </div>
                    <div class="col imgs">
                        <img src="/images/2.jpeg" alt="no">
                        <h4>Camping</h4>
                    </div>
                </div>
            </div>
        
            <div id="imgbox">
                <div class="row">
                    <div class="col imgsn">
                        <img src="/images/audit.jpeg" alt="no">
                        <h6>Audit experiences</h6>
                    </div>
                    <div class="col imgsn">
                        <img src="/images/assured.png" alt="no">
                        <h6>100% Assured</h6>
                    </div>
                    <div class="col imgsn">
                        <img src="/images/flexible.png" alt="no">
                        <h6>Flexible Timing</h6>
                    </div>
                </div>
            </div>

            <div id="imgbox">
                <ul class="ul1">
                    <li class="li1">
                        <h2>While water Rafting :</h2>
                        <h1 style="color: rgb(247, 15, 7); text-decoration: none;"><a href="/page2">Rishikesh</a></h1>
                        <a href="/page2"><img src="images/Master.jpg" alt="no"></a>
                    </li>
                    <br><br><br><br>
                    <li class="li2">
                        <h2>Explore Trekking :</h2>
                        <h1 style="color: rgb(247, 15, 7);">Nag Tibba</h1>
                        <img src="images/trekk.jpg" alt="no">
                    </li>
                    <br><br><br><br>
                    <li class="li3">
                        <h2>River side Camping :</h2>
                        <h1 style="color: rgb(247, 15, 7);">Rishikesh</h1>
                        <img src="images/rcamp.jpg" alt="no">
                    </li>
                </ul>
            </div>
            <br><br><br><br>
            <div>
                <h3>100% Eco-Friendly</h3>
                <br>
                <h6>All the camping and activitysites are vetted and listed with a promise of 100% eco-friendly service..</h6>
                <br><br><br>
                <h3>100% assurance is our USP</h3>
                <h6>We are also fed up looking at spoiled experiences provided by travel aggregators. we exist for a change</h6>
                <br><br><br>
            </div>
        </div>
    </header>

<footer class="foot">
    <div class="foot1">
        <h1>CRAVEL</h1>
        <h3>cravings for travel</h3>
        <hr style="color: white;">
        <h6 style="font-weight: 700;"> presence in</h6>
        <p>himachal pradesh | uttarakhand | expanding across india</p>
        <h6 style="font-weight: 700;">get in touch</h6>
        <p>instagram | whatsapp | twitter</p>
        <h6 style="font-weight: 700;">contact for listing</h6>
        <p>listing@cravel.in</p>
        <h6 style="font-weight: 700;">made in india</h6>
        <p>copyright 2021 cravel pvt. lid. all rights reserved</p>
        <p>privacy policy | terms of use | legal</p>
    </div>

</footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</body>

</html>