<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/page2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <title>Page 1_cravel Marketplace</title>
</head>

<body style="background-color: black;">
    <nav class="nav navbar navbar-expand-lg navbar-dark black">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div style="text-align: center; padding-left: 50px;">
                <h3 style="color: white; ">CRAVEL</h3>
                <h7 style="color: white;">cravings for travel</h7>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
            </div>
        </div>
    </nav>


    <header>
        <div class="one">
            <div class="imgs">
                <img src="/images/river.jpg" alt="no">
            </div>
            <div class="two" style="padding-top: 50px;">
                <h1>River Rafting in Rishikesh</h1>
                <br><br>
                <img style="margin-right: 20px;" src="/images/location.png" alt="no"> Rishikesh, Uttarakhand.
                <br><br>
                <img style="margin-right: 20px;" src="/images/star.png" alt="no"> 4.8 (15 Readings).
            </div>
            <br><br><br>
            <div class="three">
                <h2 style="text-align: center;">Package Details</h2>
                <br>
                <h3>9 Kms Rafting</h3>
                <br>
                <h3>1 Hour</h3>
                <br>
                <div class="row boxe">
                    <div class="col imgsn">
                        <h5>4 Rapids</h5>
                        <br>
                        <h5>Clif Jumpinf </h5>
                        <br>
                        <h5>Changing</h5>
                    </div>
                    <div class="col imgsn">
                        <h5>Body Surfing</h5>
                        <br>
                        <h5>Life Jacket</h5>
                        <br>
                        <h5>Kayak</h5>
                    </div>
                </div>
                <br><br><br><br>
                <h2 style="padding-left: 20px;">Including Transportation from tapovan to Brahmputri</h2>
            </div>
        </div>
    </header>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</body>

</html>